body {
    background-color: #505050;
    margin: 18px 0 0 8px;
}

.page {
    margin: 0 auto;
    width: 1420px;
}

header {
    height: 137px;
    width: 1420px;
    position: relative;
}

header, .menu, .menu2, .content, .form {
    border-radius: 9px;
    box-shadow: 10px 10px 10px #000000;
    background-color: #909090;
}

header img.logo {
    height: 110px;
    margin: 10px 0 0 10px;
}

header img.search {
    position: absolute;
    top: 10px;
    right: 30px;
}

header img.delete, header img.refresh {
    position: absolute;
    right: 10px;
    height: 20px;
    width: 20px;
}

header .delete {
    bottom: 10px;
}

header .refresh {
    top: 10px;
}

.menu{
    width: 108px;
    height: 410px;
    float: left;
    margin: 20px 0 0 30px;
    padding: 15px 0 0 32px;
}

.menu img {
    width: 70px;
    margin-bottom: 6px;
}

.menu2 img {
    width: 70px;
    margin-bottom: 6px;
}

.menu img.selected {
    border: 5px solid red;
    margin: -5px 0 1px -5px;
    border-radius: 5px;
}

.menu2{
    width: 105px;
    height: 410px;
    float: left;
    margin: 20px 0 0 30px;
    padding: 15px 0 0 35px;
}

.menu2 .wall {
    content: '';
    background-image: url('resources/brick.jpg');
    width: 120px;
    height: 70px;
    margin:-5px 0 0 -25px;
}

.menu2 img {
    width: 70px;
    margin-bottom: 6px;
}

.content {
    margin: 20px 0 0 30px;
    width: 1020px;
    height: 582px;
    float: left;
    position: relative;
}

.content img {
    margin: 10px;
    width: 1000px;
    height: 562px;
}

.form {
    background-color: #88ff89;
    width: 500px;
    height: 150px;
    position: absolute;
    bottom: -94px;
    left: -245px;
    padding: 10px;
    font-family: arial;
    font-size: 16px;
    font-stretch: expanded !important;
    letter-spacing: 1px;
    font-weight: 300;
}

.form span.big {
    font-family: Times;
    font-size: 31px;
}

.form span.shadow {
    text-shadow: 5px 5px 5px #ff0000;
}

.form span.italic {
    font-style: italic;
}

.form form {
    height: 22px;
}

.form form input[type="text"] {
    margin-left: 2px;
    width: 376px;
    border: 2px solid #9d969d;
    border-bottom-color: #eeeeee;
    border-right-color: #eeeeee;
    height: 15px;
}

.form form input[type="submit"] {
    border: 1px solid #a8a4a5;
    border-radius: 1px;
    background-color: #f4eff3;
    background: #0079FF;
    margin-left: 4px;
    height: 22px;
    font-size:12px;
    letter-spacing: 1px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4eff3), to(#dcdcdc));
}