<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Awesome Battleships Battles</title>
    <link rel="stylesheet" href="style/style.css">
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"
            integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>